html {
  box-sizing: border-box;
}

:root {
  --color1: #212c65;
  --color2: #01A1DD;
  --color3: #000000;


  --fuenteHeading: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fuenteHeading);
}



/* -----NAV-----*/
header{
  font-family: var(--fuenteHeading);
 width: 100%;
 background: var(--color1);
}

.contenedorHeader{
  width: 90%;
  max-width: 1200px;
  margin: auto;
 overflow: hidden;
 
}

.contenedor-logo{
  display: flex;
  justify-content: flex-start;
  
}
.logo{
  margin-top: 20px;
  color: white;
  font-size: 30px;
  line-height: 50px;
}
.imgLogo{
  width: 15%;
  margin-top: 10px;
}

.relleno{
  display: block;
  border: 3px solid var(--color2);
  border-radius: 5px;
} 
.navegacion {
  display: flex;
  justify-content: flex-end;
}

.enlaces{
  color: var(--color2);
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  transition: all 500ms ease;

}
.enlaces:hover {
  background: var(--color2);
  border-radius: 30px;
  color: var(--color1);
}

/* ---FIN CODE NAV---*/

#estilo {
  background: linear-gradient(90deg, #212c65, #01a1dd);
}
#cuerpo {
  margin: 2%;
}
.imgPortada{
  display: flex;
  justify-content: center;
}
#portada {
  border-radius: 10px;
  height: auto;
  width: auto;
  max-width: 1000px;
  max-height: 450px;
  margin-top: 20px;
}
#tabla {
  margin: 150px auto;
  width: 65%;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th,
td {
  padding: 15px;
}
thead {
  background-color: #212c65;
  color: white;
  border-bottom: solid 5px darkblue;
}
tr:nth-child(even) {
  background-color: #01a1dd;
}
h1 {
  text-align: center;
  color: white;
}
.desplegable {
  width: 90%;
  max-width: 120em;
  padding: 2em;
}
.desplegable .contenedor {
  margin: 0 0 1em;
  padding: 1em;
  background-color: var(--color1);
  border-radius: 5px 30px;
  box-shadow: 3px 3px 3px rgb(197, 194, 194);
}
.desplegable .h2 {
  margin: 0 0 1em;
  padding: 1em;
  color: white;
  text-decoration: underline;
}
.desplegable .contenido {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(219, 217, 211);
  height: 0;
  font-size: small;
  overflow: hidden;
}
.desplegable .contenedor.activo .contenido {
  height: auto;
}
/* FOOTER */

.footerContent{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size:larger;
}