:root {
  --color1: #212c65;
  --color2: #01a1dd;
  --color3: #000000;
}

body {
  margin: 0px;
}

.h1 {
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
}

#form {
  background-color: #c7c8c4;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: solid;
  border-color: #a6341b;
}

#formInterno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

#mapaInterno {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: inline-block;
  width: 50px;
}

select {
  display: inline-block;
  width: 200px;
  margin: auto;
}

.inputs {
  display: inline-block;
  width: 200px;
}

#botonEnviar {
  display: inline-block;
  font-family: var(--fuenteHeading);
  padding: 10px 20px;
  background-color: var(--color2);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 3px 2px black;
  transition: all 500ms ease;
}

#botonEnviar:hover {
  cursor: pointer;
  background: var(--color1);
  border-radius: 30px;
  color: white;
}
