:root {
  --color1: #212c65;
  --color2: #01a1dd;
  --color3: #000000;
  --fuenteHeading: "Raleway", sans-serif;
}

body {
  margin: 0px;
  font-family: var(--fuenteHeading);
}
/* ---HEADER---*/

/* HEADER */
.estilo {
  background: linear-gradient(90deg, #212c65, #01a1dd);
}

header {
  font-family: var(--fuenteHeading);
  width: 100%;
  background: var(--color1);
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.contenedor-logo {
  display: flex;
  justify-content: flex-start;
}
.logo {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  line-height: 50px;
}

.navegacion {
  display: flex;
  justify-content: flex-end;
}

.enlaces {
  color: var(--color2);
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  max-width: 100%;
  display: inline-block;
  transition: all 500ms ease;
}
.enlaces:hover {
  background: var(--color2);
  border-radius: 30px;
  color: var(--color1);
}
.relleno {
  display: block;
  border: 3px solid var(--color2);
  border-radius: 5px;
}
.imgLogo {
  width: 15%;
  margin-top: 10px;
}

/* ---FINHEADER--*/
.h1 {
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
}

#form {
  background-image: url(../images/background\ \ contactos.jpg);
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: solid;
  border-color: var(--color1);
  border-radius: 5px 30px;
  box-shadow: 3px 3px 3px rgb(197, 194, 194);
}

#formInterno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

#mapaInterno {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#botonEnviar {
  display: inline-block;
  font-family: var(--fuenteHeading);
  padding: 10px 20px;
  background-color: var(--color2);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 3px 2px black;
  transition: all 500ms ease;
}

#botonEnviar:hover {
  cursor: pointer;
  background: var(--color1);
  border-radius: 30px;
  color: white;
}

/*--FOOTER--*/
.vectores {
  margin-top: 10px;
}
.footerContent {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: larger;
  font-family: var(--fuenteHeading);
}
label {
  display: inline-block;
  width: 100px;
  margin: 0%;
}
select {
  display: inline-block;
  margin: 0%;
  width: 300px;
  height: 40px;
}
input {
  display: inline-flex;
  width: 290px;
  height: 35px;
  margin: 0%;
  margin-left: 10px;
}
#iconWsp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 998;
  display: flex;
  width: 110px;
}
#globo {
  position: fixed;
  bottom: 90px;
  right: 100px;
  z-index: 999;

  display: none;
  width: 100px;
  margin-left: 80%;
}
